
body{
  background-image:linear-gradient(to bottom right, #9BABB8, #F2D8D8);
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1{
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  color:darkslategray;
  font-weight: bold;
  font-size: large;
}

input{
  width: 60%;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: 2px solid gray;
  margin: 10px;
  box-sizing: border-box;
  padding: 5px 8px;
  font-size: large;
}

button{
  width: 30%;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: #477091;
  border: none;
  outline: none;
  font-size: large;
  font-weight: bold;
  border-radius: 15px;
}

